<div class="container-fluid bg-dark">
    <div class="container pt-2 pb-2">
        <ul class="nav nav-pills justify-content-end">
            {% if is_authenticated %}
            <li class="nav-item">
                <a class="btn btn-outline-primary" href="{{ url_for('users.logout') }}">Log out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="btn btn-outline-primary" href="{{ url_for('users.login') }}">Login in</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-primary" href="{{ url_for('users.register') }}">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>