{% extends "base.html" %}


{% block content %}
{% include "main/navbar.html" %}
<br>
<div class="container">
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th scope="row">id</th>
                <td colspan="2" class="table-active">{{ context.id }}</td>
                <td colspan="2" class="table-active"> </td>
            </tr>
            <tr>
                <th scope="row">name</th>
                <td colspan="2">{{ context.name }}</td>
                <td colspan="2"> </td>
            </tr>
            <tr>
                <th scope="row">last name</th>
                <td colspan="2" class="table-active">{{ context.last_name }}</td>
                <td colspan="2" class="table-active"> </td>
            </tr>
            <tr>
                <th scope="row">username</th>
                <td colspan="2">{{ context.username }}</td>
                <td colspan="2"> </td>
            </tr>
            <tr>
                <th scope="row">email</th>
                <td colspan="2" class="table-active">{{ context.email }}</td>
                {% if context.email_is_Confirm %}
                <td colspan="2" class="table-active">confirmed</td>
                {% else %}
                <td colspan="2" class="table-active">Not confirmed</td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row">phone number</th>
                <td colspan="2">{{ context.phone_number }}</td>
                {% if context.phone_number_is_Confirm %}
                <td colspan="2">confirmed</td>
                {% else %}
                <td colspan="2">Not confirmed</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <br><br>
    {% if not context.email_is_Confirm %}
    <div>
        <a href="#">click to confirm your phone number</a>
    </div>
    {% endif %}
    <br>
    {% if not context.phone_number_is_Confirm %}
    <div>
        <a href="#">click to confirm your phone number</a>
    </div>
    {% endif %}
</div>
{% endblock content %}